*{
	background-color: #f7f7f7;
	
}

.all-tudo{
	
	font-family: Arial Black;

}
.all-tudo > .all-tudo-2{
	font-family: arial;
 }


/*ESPAÇO*/

.menu-container {
	position: relative;
	margin: 10;
	padding: 0;
	width: 60px;
	height: 100vh;
	background-color: #ffffff;
	
  }
  
  .toggle {
	position: absolute;
	top: 80%;
	left: 100%;
	margin-top: -22px;
	margin-left: 15px;
	cursor: pointer;
	z-index: 1;
	width: 60px;
	height: 44px;
	background-color: rgba(5, 79, 119, 0.5);
	border-radius: 5px;
  }
  
  .menu {
	position: absolute;
	top: 0;
	left: -60px;
	width: 200px;
	height: 100%;
	padding: 50px 0;
	background-color: #ffffff;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
	border-right: 5px solid #61bbd6;
  }
  
  .menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .menu li {
	margin: 0;
  }
  
  .menu a {
	display: block;
	padding: 20px;
	color: #2b7199;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
  }
  
  .menu a:hover {
	border-radius: 3px;
	background-color: #a3a3a3;
  }
  
  input[type="checkbox"]#toggle:checked ~ .menu {
	left: 0;
  }

  /*sub*/

  .custom-select {
	width: 200px;
	padding: 10px;
	font-size: 16px;
	border: 0 solid transparent;
	border-radius: 0px;
  }
  
  .custom-select option {
	padding: 10px;
  }

  select option:checked::before {
	content: "✓";
	color: #fff;
	background-color: #333;
	margin-right: 10px;
  }

  /*icone*/

  ul li {
	list-style-type: none; /* remova o estilo padrão de marcador */
	position: relative; /* adicione uma posição relativa para posicionar o ícone */
	padding-left: 30px; /* adicione espaço à esquerda do texto para o ícone */
  }

  ul li .icone {
	position: absolute; /* posicione o ícone absolutamente */
	left: 0; /* posicione o ícone à esquerda do elemento pai */
	top: 20px; /* posicione o ícone no topo do elemento pai */
	width: 20px; /* ajuste a largura do ícone conforme necessário */
	height: 20px; /* ajuste a altura do ícone conforme necessário */
	background-image: url("icone.png"); /* adicione a imagem do ícone como conteúdo antes do texto */
	background-repeat: no-repeat; /* evite que a imagem se repita */
	background-position: center; /* posicione o ícone no centro vertical e horizontalmente */
	width: 7px;
}
/*Espaço*/

#tabela{
	position: relative;
	margin-top: 750px;

}

h2{
	color: #288BA8;
}

.tabela{
	width: 1000px;
	height: 500px;
	background-color: white;
	position: relative;
	right: -350px;
	border: 0.1px solid rgba(0, 0, 0, 0.4);
	top:-550px;
	/*text-align: right*/
	border-radius: 5px;
	 box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.tabela>table{
	width: 850px;
	margin-left: 75px;
	margin-top: 15px;
	text-decoration: none;
	border-spacing: 15px;
	background-color: white;

}

.header{
	border-bottom: 3px solid #288BA8;

	width: 1050px;
	height: 100px;
	position: relative;
	right: -335px;
	top: -1257px;
}

.header>a{
	display: block;
	text-decoration: none;
}

.header input[type=submit]{
	color: white;
	font-size: 20px;
	width: 344px;
	height: 55px;
	display: inline-block;
	background-color: #4682B4;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	cursor: pointer;
	border-bottom: 5px;
	position: relative;
	left: 500px;
}

.filtro{
	width: 1020px;
	height: 75px;
	position: relative;
	left: 350px;
	top: -1250px;
}

.filtro input[type=text]{
	margin-top: 8px;
	width: 250px;
	height: 35px;
	border: 1px solid #1C1C1C;
	background-color: #708090;
	position: relative;
	left: 750px;
	top: 15px;
	border-radius: 3px;

}


.filtro > .filtro2{
	width: 500px;
	color: gray;
	font-size: 15px;
	position: relative;
	top: -12px;
}

.minhaDiv{
	position: relative;
	left: 500px;
}


/*espaço*/

.container {
  width: 500px;
  margin: 50px auto;
  text-align: center;
}

.filter-menu {
  margin-bottom: 20px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 200px;
  height: 200px;
  background-color: lightgray;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;

}

.hidden {
  display: none;
}

/**/

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  tr:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid #dddddd;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }