*{
	/*font-family: Arial Black;*/
	/background-color: #bfbdbd;

}


/*ESPAÇO*/

.menu-container {
	position: relative;
	margin: 10;
	padding: 0;
	width: 60px;
	height: 100vh;
	background-color: #ffffff;
	
  }
    .toggle > img{
  	position: relative;
  	top: 25%;
  	left: 70%;
  	width: 43%;

  }

  .toggle {
	position: absolute;
	top: 5%;
	left: 133%;
	margin-top: -22px;
	margin-left: 15px;
	cursor: pointer;
	z-index: 1;
	width: 60px;
	height: 0;
	background-color: #80c8e0;
	border-radius: 5px;
  }


  
  .menu {
	position: absolute;
	top: -10px;
	left: -60px;
	width: 220px;
	height: 100%;
	padding: 50px 0;
	background-color: #ffffff;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
	display: block;
  }
  
  .menu ul {
  	font-family: Arial Black;
	list-style: none;
	position: relative;
	top: 45px;
	margin: 0;
	padding: 0;
  }
  
  .menu li {
	margin: 0;
  }
  
  .menu a {
	display: block;
	padding: 8px;
	color: #2b7199;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
  }

  .roma p {
position: absolute;
top: -200px;
font-family: bold;
weight: bold;
	display: block;
	padding: -20px;
	color: #2b7199;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
  }
  
  .menu a:hover {
  	position: relative;
  	width: 110%;
  	left: -15px;
	border-radius: 2px;
	background-color: #80c8e0;
  }
  
  input[type="checkbox"]#toggle:checked ~ .menu {
	left: 0;
  }

  /*sub*/

  .custom-select {
	width: 200px;
	padding: 10px;
	font-size: 16px;
	border: 0 solid transparent;
	border-radius: 0px;
  }
  
  .custom-select option {
	padding: 10px;
  }

  select option:checked::before {
	content: "✓";
	color: #fff;
	background-color: #333;
	margin-right: 10px;
  }

  /*icone*/

  ul li {
	list-style-type: none;
	position: relative; 
	padding-left: 32px;
  }

  ul li .icone1 {
	position: absolute;
	left: -5%; 
	top: 13%; 
	width: 20%; 
	height: 80%; 
	background-image: url("icone6.png"); 
	background-repeat: no-repeat; 
	background-position: center; 

}

ul li .icone2 {
	position: absolute;
	left: -5%; 
	top: 13%; 
	width: 20%; 
	height: 80%; 
	background-image: url("icone7.png"); 
	background-repeat: no-repeat; 
	background-position: center; 

}
ul li .icone3 {
	position: absolute;
	left: -5%; 
	top: 13%; 
	width: 20%; 
	height: 80%; 
	background-image: url("icone8.png"); 
	background-repeat: no-repeat; 
	background-position: center; 

}

ul li .icone4 {
	position: absolute;
	left: -5%; 
	top: 13%; 
	width: 20%; 
	height: 80%; 
	background-image: url("icone9.png"); 
	background-repeat: no-repeat; 
	background-position: center; 

}

ul li .icone5 {
	position: absolute;
	left: -5%; 
	top: 13%; 
	width: 20%; 
	height: 80%; 
	background-image: url("icone10.png"); 
	background-repeat: no-repeat; 
	background-position: center; 

}
ul li .icone6 {
	position: absolute;
	left: -5%; 
	top: 13%; 
	width: 20%; 
	height: 80%; 
	background-image: url("icone11.png"); 
	background-repeat: no-repeat; 
	background-position: center; 

}

ul li .icone7 {
	position: absolute;
	left: -5%; 
	top: 13%; 
	width: 20%; 
	height: 80%; 
	background-image: url("icone12.png"); 
	background-repeat: no-repeat; 
	background-position: center; 

}

ul li .icone0 {
	position: absolute;
	left: -5%;
	/*top: 13%; */
	width: 100%; 
	height: 80%; 
	background-image: url("icone18.png"); 
	background-repeat: no-repeat; 

}

ul li .icone8 {
	position: absolute;
	left: 0;
	top: 20%;
	width: 10%; 
	height: 80%; 
	background-image: url("icone19.png"); 
	background-repeat: no-repeat; 

}

ul li .icone9 {
	position: absolute;
	left: 0;
	top: 20%;
	width: 10%; 
	height: 80%; 
	background-image: url("icone20.png"); 
	background-repeat: no-repeat; 

}

ul li .icone10 {
	position: absolute;
	left: 0;
	top: 20%;
	width: 10%; 

	height: 80%; 
	background-image: url("icone21.png"); 
	background-repeat: no-repeat; 

}

.nada{
	position: absolute;
	font-family: unset;
	left: 40px;
	font-size: 15px;
	color: rgb(43, 113, 153);
}
.nada .ic{
	position: absolute;
	background-image: url("icone15.png");
	width: 33%;
	top: -15%;
	left: -45px;
	height: 50px;
	background-repeat: no-repeat
}




#texto {
  transition: text-shadow 0.3s ease-in-out;
}

#texto:hover {
  text-shadow: 2px 2px 4px #000000;
}

.cemweb  {
	position: relative;
	top: 9%;
	left: 0%;

}



/////////
/*
.roma5{
	position: absolute;
	top: -50%;
}
*/

.dash55{
	position: absolute;
	left: 100px;
	 background-color: blue;
	 width: 100px;
	 height: 100px;
	 padding: 50px;
}
.caixa7{
	display: inline-block;
	position: absolute;
	left:  290px;
	top: 0px;
	/*ckground-color: #80c8e0;*/
	width:150px;
	height: 150px;
	width: 75%;
	border-bottom: 3px solid #80c8e0;
	

}

.caixa7 p{
	display: inline-block;
	font-family: Candara;
	font-size: 45px;
	color: #827f7f;
	top:30px;
	position: absolute;
	left: 1%;
	margin:0;

}

.botao-cadastro {
	position: absolute;
	left: 75%;
	top:22%;
	display:inline-block;
  background-color: #2b7199;
  color: #fff;
  padding: 20px 7%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}
.caixa9{
	position: absolute;
	left:290px;
	top:20%;
	width: 75%;
	height: 09%;
}
.caixa9 p{
	font-family: Candara;
	font-size: 23px;
	color: #aaadad;

}
.caixa9 .custom-input {
	position: absolute;

	background-color: #ebe6e6;
	top:23%;
	left: 70%;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
  padding: 0px;
  outline: none;
  height: 60%;
  width: 30%;
  border-radius: 3px;
  color: #a3a2a2;
  font-family: Candara;
  text-align: center;
  font-weight: bold;
}  

.caixa9 .custom-input:focus {
  border-bottom-color: #007bff;
}

.caixa8{
	position: absolute;

	left: 290px;
	background-color: white;
	top: 30%;
	width: 75%;
	height: 64%;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	font-family: Candara;
}


.lista-selecionavel {
  list-style: none;
  padding: 0;
  margin: 0;


}

.caixa8 p{
	margin-left: 15px;
	font-weight: bold;
}

.lista-selecionavel .junto{
	  padding-left: 20%;
	  color: #494c4e;

}

.lista-selecionavel .junto2{
	  padding-left:10%;
	  color: #494c4e;
}
.lista-selecionavel .junto3{
	  padding-left: 13%;
	  color: #494c4e;
}
.lista-selecionavel .junto4{
	  padding-left: 10%;
	  color: #494c4e;
}
.lista-selecionavel .separado{
	  padding-left: 10%;
	  color: #494c4e;
}
.lista-selecionavel .separado1{
	  padding-left:8%;
	  color: #494c4e;
}
.lista-selecionavel li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  color: #494c4e;

}
.lista-selecionavel li span{
	flex-basis: 30%;
  text-align: center;
}

.lista-selecionavel li:hover {
  background-color: #80c8e0;
}

.lista-selecionavel li.selected {
  background-color: #007bff;
  color: #fff;
}

.destaque {
  background-color: #bcdde6;
}


.caixa8 li.selected{
  background-color: #ccc;
}

/*************/
/* CSS */
.dropdown {
  position: relative;
  display: inline-block;
  padding-left:10%;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
}

.dropdown-menu li {
  background-color: #fff;
  padding: 5px;
}

.dropdown-toggle:hover + .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}

