/*Sidebar*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: 'outfit', sans-serif;
}

body{
  height: 100vh;
}

.menu-lateral{
  width: 50px;
  height: 100%;
  background-color: white;
  box-shadow: 3px 0 0 rgb(35,107,142);
  
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: .2s;
}


.menu-lateral:hover{
  width: 300px;
}
.btn-expandir{
  width: 50px;
  padding-left: 10px;
}

.btn-expandir > i{
  color: rgb(35,107,142);
  font-size: 24px;
  cursor: pointer;
}

ul{
  height: 100%;
  list-style-type: none;
}

ul li.item-menu{
  transition: .3s;
}

ul li.item-menu:hover{
  background: rgb(35,107,142);
}

ul li.item-menu a{
  color: rgb(35,107,142);
  text-decoration: none;
  font-size: 15px;
  padding: 20px 4%;
  display: flex;
  line-height: 20px;
}

ul li.item-menu a:hover{
  color: white;
}

ul li.item-menu a .txt-link{
margin-left: 40px;
}

ul li.item-menu a .icon > i{
  font-size: 18px;
  margin-left: 12px;
}


/*Fim do Sidebar*/

.caixa-line{
  position: absolute;
  border-bottom: 3px solid rgb(35,107,142);
  padding: 10vh 70vh;
  border-radius: 2px;
  left: 30vh;


}

.caixa-line button{
  position: absolute;
  left: 100vh;
  padding: 3vh 15vh;
  background-color: rgb(35, 122, 165);
  border-radius: 5px;
  border: none;
  color: white;
}

.caixa-line button:hover{
  background-color: rgb(42, 97, 124);
  padding: 24px 125px;
  left: 99vh;
  box-shadow: 0px 1px 10px rgba(red, green, blue, 0.5);
}

.Perfis{
  position: relative;
  top: -10px;
  right: 60vh;
  font-size: 45px;
  color: #6b6969;
}

.caminho{
  position: absolute;
  font-size: 15px;
  right: 122vh;
  color: #a09f9f
}






/**/






.tabela-vid{
  position: absolute;
  top: 45vh;
  left: 25vh;
  padding: 15vh 35vh;
  background-color: #6b6969;
}

.Filtro-caixa {
  position: absolute;
  padding: 3vh 10vh;
  left: 130vh;
  top: 32vh;
  border-radius: 4px;
  border: none;
  background-color: rgb(212, 212, 212);
}


/**/


#minhaDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* fundo semi-transparente para destacar a div */
  display: none; /* inicia escondida */
}

#minhaDiv a#fecharDiv {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: black;
  font-size: 3vh;
  text-decoration: none;
}



.box-branca{
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 30%; /* ajuste a largura conforme necessário */
  height: 100%; /* cobre toda a altura da tela */
  z-index: 9999; /* define a ordem de empilhamento da div */
}


/**/


table{
  position: absolute;
  border-radius: collapse;
  border-spacing: 0;
  width: 70%;
  top: 45vh;
  left: 29vh;
}

th,td{
  text-align: left;
  padding: 15px;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

th{
  background-color: #3394D5;
  color: white;
}


.box-branca input{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
  margin-left: 10vh;
  margin-top: 3vh;
}
input:focus 		{ outline:none; }

.box-branca h2{
  position: absolute;
  left: 5vh;
}



label {
  
  display: block;
  margin-bottom: 10px;
  
}

select {
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
  margin-left: 10vh;
}

select:focus {
  outline: none;
  border-color: #3394D5;
  box-shadow: 0 0 5px rgba(51, 148, 213, 0.5);
}


input[type="button"]{
    background-color:#3394D5;
    color: white;
    border-radius: 8px;
}

input[type="button"]:hover{
  background-color: #27628a;
}
