/*Sidebar*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: 'outfit', sans-serif;
}

body{
  height: 100vh;
}

.menu-lateral{
  width: 50px;
  height: 100%;
  background-color: white;
  box-shadow: 3px 0 0 rgb(35,107,142);
  
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: .2s;
}


.menu-lateral:hover{
  width: 300px;
}
.btn-expandir{
  width: 50px;
  padding-left: 10px;
}

.btn-expandir > i{
  color: rgb(35,107,142);
  font-size: 24px;
  cursor: pointer;
}

ul{
  height: 100%;
  list-style-type: none;
}

ul li.item-menu{
  transition: .3s;
}

ul li.item-menu:hover{
  background: rgb(35,107,142);
}

ul li.item-menu a{
  color: rgb(35,107,142);
  text-decoration: none;
  font-size: 15px;
  padding: 20px 4%;
  display: flex;
  line-height: 20px;
}

ul li.item-menu a:hover{
  color: white;
}

ul li.item-menu a .txt-link{
margin-left: 40px;
}

ul li.item-menu a .icon > i{
  font-size: 18px;
  margin-left: 12px;
}


/*Fim do Sidebar*/

.caixa-line{
  position: absolute;
  border-bottom: 3px solid rgb(35,107,142);
  padding: 10vh 70vh;
  border-radius: 2px;
  left: 30vh;


}

.caixa-line button{
  position: absolute;
  left: 100vh;
  padding: 3vh 15vh;
  background-color: rgb(35, 122, 165);
  border-radius: 5px;
  border: none;
  color: white;
}

.caixa-line button:hover{
  background-color: rgb(42, 97, 124);
  padding: 24px 125px;
  left: 99vh;
  box-shadow: 0px 1px 10px rgba(red, green, blue, 0.5);
}

.Perfis{
  position: relative;
  top: -10px;
  right: 60vh;
  font-size: 45px;
  color: #6b6969;
}

.caminho{
  position: absolute;
  font-size: 15px;
  right: 122vh;
  color: #a09f9f
}






/**/

table tr:not(:first-child) {
  display: none;
}




.tabela-vid{
  position: absolute;
  top: 45vh;
  left: 25vh;
  padding: 20vh 35vh;
  background-color: #6b6969;
}

.Filtro-caixa {
  position: absolute;
  padding: 3vh 10vh;
  left: 130vh;
  top: 32vh;
  border-radius: 4px;
  border: none;
  background-color: rgb(212, 212, 212);
}