*{
	font-family: Arial Black;
	background-color: #f7f7f7;
}


/*ESPAÇO*/

.menu-container {
	position: relative;
	margin: 10;
	padding: 0;
	width: 60px;
	height: 100vh;
	background-color: #ffffff;
	
  }
  
  .toggle {
	position: absolute;
	top: 80%;
	left: 100%;
	margin-top: -22px;
	margin-left: 15px;
	cursor: pointer;
	z-index: 1;
	width: 60px;
	height: 44px;
	background-color: rgba(5, 79, 119, 0.5);
	border-radius: 5px;
  }
  
  .menu {
	position: absolute;
	top: 0;
	left: -60px;
	width: 200px;
	height: 100%;
	padding: 50px 0;
	background-color: #ffffff;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  }
  
  .menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .menu li {
	margin: 0;
  }
  
  .menu a {
	display: block;
	padding: 20px;
	color: #2b7199;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
  }
  
  .menu a:hover {
	border-radius: 3px;
	background-color: #a3a3a3;
  }
  
  input[type="checkbox"]#toggle:checked ~ .menu {
	left: 0;
  }

  /*sub*/

  .custom-select {
	width: 200px;
	padding: 10px;
	font-size: 16px;
	border: 0 solid transparent;
	border-radius: 0px;
  }
  
  .custom-select option {
	padding: 10px;
  }

  select option:checked::before {
	content: "✓";
	color: #fff;
	background-color: #333;
	margin-right: 10px;
  }

  /*icone*/

  ul li {
	list-style-type: none; /* remova o estilo padrão de marcador */
	position: relative; /* adicione uma posição relativa para posicionar o ícone */
	padding-left: 30px; /* adicione espaço à esquerda do texto para o ícone */
  }

  ul li .icone {
	position: absolute; /* posicione o ícone absolutamente */
	left: 0; /* posicione o ícone à esquerda do elemento pai */
	top: 20px; /* posicione o ícone no topo do elemento pai */
	width: 20px; /* ajuste a largura do ícone conforme necessário */
	height: 20px; /* ajuste a altura do ícone conforme necessário */
	background-image: url("icone.png"); /* adicione a imagem do ícone como conteúdo antes do texto */
	background-repeat: no-repeat; /* evite que a imagem se repita */
	background-position: center; /* posicione o ícone no centro vertical e horizontalmente */
	width: 7px;
}

/*espaço*/

.container {
  width: 1000px;
  margin: -800px auto;
  text-align: center;
}

.filter-menu {
	margin-top: 50px;
  margin-bottom: 50px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 300px;
  height: 550px;
  background-color:#B0C4DE;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.hidden {
  display: none;
}

.ls-custom-select {
			border-radius: 15px;
    }