/*Sidebar*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: 'outfit', sans-serif;
}

body{
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}



.menu-lateral{
  width: 50px;
  height: 100%;
  background-color: white;
  box-shadow: 3px 0 0 rgb(35,107,142);
  
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: .2s;
}


.menu-lateral:hover{
  width: 300px;
}
.btn-expandir{
  width: 50px;
  padding-left: 10px;
}

.btn-expandir > i{
  color: rgb(35,107,142);
  font-size: 24px;
  cursor: pointer;
}

ul{
  height: 100%;
  list-style-type: none;
}

ul li.item-menu{
  transition: .3s;
}

ul li.item-menu:hover{
  background: rgb(35,107,142);
}

ul li.item-menu a{
  color: rgb(35,107,142);
  text-decoration: none;
  font-size: 15px;
  padding: 20px 4%;
  display: flex;
  line-height: 20px;
}

ul li.item-menu a:hover{
  color: white;
}

ul li.item-menu a .txt-link{
margin-left: 40px;
}

ul li.item-menu a .icon > i{
  font-size: 18px;
  margin-left: 12px;
}


/*Fim do Sidebar*/





/*opções de cadastro*/

.container {
  position: absolute;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-500px);
}

.container .card {
  position: relative;
  cursor: pointer;
}

.container .card .face {
  position: absolute;
  width: 300px;
  height: 200px;
  border-radius: 9px;
}

.container .card .face.face1 {
  position: relative;
  background: rgb(35,107,142);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  transition: 0.5s;
}

.container .card:hover .face.face1 {
  background: rgb(25, 78, 104);
  transform: translateY(0);
}

.container .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content bi bi-border-all,
.container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.container .card .face.face2 {
  position: absolute;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
  transition: 0.5s;
}

.container .card:hover .face.face2 {
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.container .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 0.1px solid #333;
  border-radius: 5px;
}

.container .card .face.face2 .content a:hover {
  background: rgb(35,107,142);
  color: #fff;
}




/**/

.container1 {
  position: absolute;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  top: 50vh;
  left: 50%;
  transform: translateX(-500px);
}

.container1 .card {
  position: relative;
  cursor: pointer;
}

.container1 .card .face {
  position: absolute;
  width: 300px;
  height: 200px;
  border-radius: 9px;
}

.container1 .card .face.face1 {
  position: relative;
  background: rgb(35,107,142);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  transition: 0.5s;
}

.container1 .card:hover .face.face1 {
  background: rgb(25, 78, 104);
  transform: translateY(0);
}

.container1 .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
}

.container1 .card:hover .face.face1 .content {
  opacity: 1;
}

.container1 .card .face.face1 .content bi bi-border-all,
.container1 .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.container1 .card .face.face2 {
  position: absolute;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
  transition: 0.5s;
}

.container1 .card:hover .face.face2 {
  transform: translateY(0);
}

.container1 .card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.container1 .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 0.1px solid #333;
  border-radius: 5px;
}

.container1 .card .face.face2 .content a:hover {
  background: rgb(35,107,142);
  color: #fff;
}

